### LaTeX build artifacts
tex/*.aux
tex/*.log
tex/*.out
tex/*.toc
tex/*.fls
tex/*.fdb_latexmk
tex/*.synctex.gz
tex/*.bbl
tex/*.blg
tex/*.run.xml
tex/*.bcf

### Editors
.vscode/
*.texshop

### OS
.DS_Store
Thumbs.db
