name: tex_to_pdf

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
            sudo apt-get update -y \ 
            sudo apt-get install texlive-full -y


    - name: Generate pdfs 
      run: |
            cd /home/runner/work/repo/repo/templats
            pdflatex main_eng.tex
            pdflatex main_ita.tex

    - name: Commit and push PDFs
      run: |
            git config --global user.name 'GitHub Actions'
            git config --global user.email 'actions@github.com'
            git add templates/*.pdf
            git commit -m "Update generated PDFs" || echo "No changes to commit"
            git push
